html, body {
    margin: 0;
    padding: 0;
    

}

h1 {
    text-align: center;

}

#selection {
    padding: 10px;
    border: solid;
    border-color: red;

    text-align: center;

    display: flex;
    justify-content: space-evenly;
    align-items: center;



}

#rock {
scale: 0.8;


}

#paper {
scale: 0.55;

}

#scissors {
scale: 0.55;

}

#rock:hover {
    transform: scale(1.2);
    

}

#paper:hover {
    transform: scale(1.2);

}

#scissors:hover {
    transform: scale(1.2);

}