html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {grid-area: header;}
.menu {grid-area: menu;}
.main {grid-area: main;}
.footer {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    'menu   menu   menu   menu   menu'
    'header header header header header'
    'main   main   main   main   main'
    'footer footer footer footer footer';

}

.grid-container > div {
    font-size: 1.5rem;
    padding: 1rem;
}

.menu {
    width: auto;
    height: 76px;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 15, 44);
   
    color: white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    text-align: center;
    justify-content: start;
    align-items: center;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 30px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    border: 5px;
    border-radius: 12px;

}

nav ul li a:hover {
    background-color: rgba(43, 52, 87, 0.862)
    

}

.header {
    width: auto;
    height: 670px;
    margin: 0;

    color: yellow;
    font-size: 4rem;

    background-image: url(..//Fiji/images/Fiji\ background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.main {
    width: auto;
    height: auto;
    margin: 0;
    padding: 40px;

    background-color:rgb(209, 165, 117);
   
    color: white;
    font-family: arial;
    line-height: 1.5;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.main h1 {
    margin-right: 0;


    font-size: 2.2rem;

}

.main p {
    width: 630px;
    margin: 0;

    font-size: 1.3rem;

}

.main li {
    margin: 0;

    font-size: 1.3rem;

}

#reasons {
    height: auto;
    width: 2000px;

    display: flex;
    justify-content: center;
    text-align: center;

}

.beaches, .snorkling, .islandjumping, .hiking {
    width: 640px;
    margin: 0px;
    margin-top: 20px;
    padding: 20px;

    border-radius: 2rem;
    border: solid;
    background-color: rgb(111, 178, 187);
    border-color: rgb(255, 255, 255);


}

.footer {
    width: auto;
    margin: 0;
    padding: 20px;

    background-color: rgb(6, 13, 40);
    color: white;
       
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.footer ul {
    list-style: none;
    
}

img {
    max-width: 100%;
    max-height: 100%;

    margin: 10px;
    display: inline-block;
}

.shellfish {
    max-width: 50%;
    max-height: 50%;
    margin: 0;
    margin-right: 15px;

    border-radius: 1rem;
    float: right;

}

#sailboat {
    max-width: 50%;
    max-height: 55%;
    margin: 0;
    margin-right: 15px;

    border-radius: 1rem;
    float: right;

}

.palmetre {
    margin: 50px;
    max-width: 40%;
    max-height: 40%;

    border-radius: 0.5rem;
}

/*Dette endrer nettsiden når oppløsningen er 800px eller mindre (telefon) */
@media screen and (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'menu'
        'header'
        'main'
        'footer';
    }

    .menu {
        display: flex;
        justify-content: center;

    }

    .header {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 1.8rem;

    }

    .header p {
        display: flex;
        margin-bottom: 50px;
        width: auto;
    
    }

}